.header__lang-link {
  font-size: calc(100vw * (24 / 1280));
  line-height: calc(100vw * (28 / 1280));
  color: #FFFFFF;
  text-decoration: none;

  margin: 0;
}

/* 

[lang="ru"] Смотрит какой язык у страницы и делает текст подчеркнутым.




[lang="ru"] .header__lang-link:lang(ru) {
  text-decoration: underline;
}

[lang="en"] .header__lang-link:lang(en) {
  text-decoration: underline;
} */

@media screen and (max-width: 1280px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: calc(100vw * (18 / 320));
    line-height: calc(100vw * (20 / 320));
  }
}