.header__lang-link {
  font-size: 1.875vw; /* 24px */
  font-size: min(18px);
  line-height: 2.1875vw; /* 28px */
  color: #FFFFFF;
  text-decoration: none;

  margin: 0;
}

[lang="ru"] .header__lang-link:lang(ru) {
  text-decoration: underline;
}

[lang="en"] .header__lang-link:lang(en) {
  text-decoration: underline;
}