.page {
  width: 100vw;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-color: #2A2C2F;

  margin: 0 auto;
}

/* 


@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {

}



*/

/* 

Вы заметите что я указал относительные размеры в родительских селекторах. 
Я сделал это чтобы сайт был более гибким помимо заданых разрешений указаных в @media.
Так же в некоторых @media были указаны относительные размеры для более плавного перехода. 
Например когда в макете у нас заданы одному элементу одинаковые размеры для трех разрешений,
а на четвертом идет резкий переход. Я не нашел способа подобии if else для css. 
Поэтому выкручивался как мог. Я не знаю насколько правильно или провально моё решение. 
Но я достиг собственного удовлетворения когда в DevTools я могу менять разрешение на любое помимо указаных в @media и элементы не сьезжают. 
Буду благодарен за любые пояснения.

*/

/* 

Найти vw:

размер блоока / ширину экрана

12.8
10.24
7.68
3.2

Из vw в px:

размер блоока * ширину экрана

*/
