.page {
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: #2A2C2F;

  margin: 0;
}

/* Вычисление размеров в vw из px. У нас есть макет с разрешением 1280. 
1280px = 100vw ширине экрана. 
1vw = 12.8px
96px шрифта = сколько vm?
1 = 12.8 = x : 96
где x это 1vw a 96 размер шрифта
x = 96 / 12.8
x = 7.5vw */

/* Вычисление % числа из числа
Уславный блок 1184 / 1280 * 100 = 92.5% от 100vw */