.lead {
  width: calc(100vw * (984 / 1280));

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
  padding-top: 4.375vw;
  margin: 0 auto;

  position: relative;
}

@media screen and (max-width: 1280px) {
  .lead {
    width: calc(100vw * (984 / 1280));
    padding-top: calc(100vw * (56 / 1280));
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100vw * (928 / 1024));
    padding-top: calc(100vw * (48 / 1024));
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100vw;
    padding-top: calc(100vw * (48 / 768));
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 100vw;
    padding-top: 15vw;
  }
}