.lead {
  width: 76.875vw;
  /* height: 100.5%; */

  display: flex;
  flex-direction: column;

  padding-top: 4.375vw;
  margin: 0 auto;

  position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead {
    width: 984px;
    /* height: 1005px; */

    padding-top: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead {
    width: 90.625vw;
    /* height: 962px; */
    
    padding-top: 48px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead {
    width: 100%;
    /* height: 862px; */

    padding-top: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead {
    /* width: 320px; */
    width: 100%;
    /* height: 406px; */
    /* height: 46%; */
    
    padding-top: 48px;
    /* padding-top: 11.294117647058824vw; */
  }
}