.header__logo {
  width: 13.75vw;
  height: 6.5vh;

  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
} 