.header__logo {
  width: 13.75vw;
  min-width: 142px;
  min-height: 4.0625vw;
  min-height: 42px;

  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}