.header {
  width: 92.5%;
  height: 5.2%;

  display: flex;
  justify-content: space-between;
  
  padding: 2.1875vw 0 0; /* 28px 0 0 */
  margin: 0 min(16px);
}

/* @media screen and (min-width: 1024px) {
  .header {
    min-height: 42px;
  }
} */

