@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff"),
       url("Inter-Regular.woff?v=3.19") format("ttf");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
       url("Inter-Bold.woff?v=3.19") format("woff"),
       url("Inter-Bold.woff?v=3.19") format("ttf");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
       url("Inter-Black.woff?v=3.19") format("woff"),
       url("Inter-Black.woff?v=3.19") format("ttf");
}