.intro {
  padding-top: calc(100vw * (92 / 1280));
  margin: 0 auto 0 11.5625vw;
}

@media screen and (max-width: 1280px) {
  .intro {
    margin: 0 auto 0 148px;
    padding-top: 92px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 auto 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px 0;
    padding-top: calc(100vw * (88 / 768));
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 20vw 0 0 0;
    box-sizing: border-box;
    margin: 0 5vw 0;
  }
}