.lead__subtitle {
  width: 640px;
  height: 72px;
  justify-self: center;

  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #FFFFFF;

  padding: 0;
  margin: 32px auto 0;
  /* margin: 32px 0 0 0; */
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: 288px;
    height: 40px;

    font-size: 16px;
    line-height: 20px;

    margin: 16px auto 0;
  }
}