.lead__subtitle {

  text-align: center;
  font-size: calc(100vw * (30 / 1280));
  font-weight: 400;
  line-height: calc(100vw * (36 / 1280));
  color: #FFFFFF;
  white-space: pre-line;

  margin: 2.5vw auto 0;
}

@media screen and (max-width: 1280px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 0;
  } 
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: calc(100vw * (16 / 320));
    line-height: calc(100vw * (20 / 320));

    margin: 5vw auto 0;
  }
}