.cover__image {
  width: calc(100vw * (1184 / 1280));
}

@media screen and (max-width: 1280px) {
  .cover__image {
    width: calc(100vw * (1184 / 1280));
  }
}

@media screen and (max-width: 1024px) {
  .cover__image {
    max-width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__image {
    max-width: 100vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__image {
    max-width: 100vw;
  }
}