.cover__overlay {
  position: absolute;
  width: calc(100vw * (1184 / 1280));
  height: calc(100vw * (740 / 1280));

  opacity: .3;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1280px) {
  .cover__overlay {
    width: calc(100vw * (1184 / 1280));
    height: calc(100vw * (740 / 1280));
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 100vw;
    height: calc(100vw * (640 / 1024));
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    height: calc(100vw * (480 / 768));
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    height: calc(100vw * (200 / 320));
  }
}