.place {
  width: calc(100vw * (984 / 1280));

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-min-content, -webkit-max-content) calc(100vw * (40 / 1280)) minmax(-webkit-min-content, -webkit-max-content);
  -ms-grid-columns: minmax(min-content, max-content) calc(100vw * (40 / 1280)) minmax(min-content, max-content);
  grid-template-columns: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  -webkit-column-gap: calc(100vw * (40 / 1280));
    -moz-column-gap: calc(100vw * (40 / 1280));
      column-gap: calc(100vw * (40 / 1280));
  row-gap: calc(100vw * (40 / 1280));

  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .place{
    width: calc(100vw * (984 / 1280));
    -webkit-column-gap: calc(100vw * (40 / 1280));
      -moz-column-gap: calc(100vw * (40 / 1280));
          column-gap: calc(100vw * (40 / 1280));
    row-gap: calc(100vw * (48 / 1280)); 
  }
}

@media screen and (max-width: 1024px) {
  .place{
    width: calc(100vw * (928 / 1024));
    -webkit-column-gap: calc(100vw * (32 / 1024));
      -moz-column-gap: calc(100vw * (32 / 1024));
        column-gap: calc(100vw * (32 / 1024));
    row-gap: calc(100vw * (48 / 1024));
  }
}

@media screen and (max-width: 768px) {
  .place{
    width: calc(100vw * (720 / 768));
    -webkit-column-gap: calc(100vw * (28 / 768));
      -moz-column-gap: calc(100vw * (28 / 768));
        column-gap: calc(100vw * (28 / 768));
    row-gap: calc(100vw * (48 / 768));
  }
}

@media screen and (max-width: 320px) {
  .place {
    width: 100%;
    -ms-grid-columns: none;
    grid-template-columns: none;
    row-gap: calc(100vw * (32 / 320));
  }
}