.header__lang-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr calc(100vw * (18 / 1280)) 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: calc(100vw * (18 / 1280));
     -moz-column-gap: calc(100vw * (18 / 1280));
          column-gap: calc(100vw * (18 / 1280));
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  list-style: none;
  line-height: 0;

  padding: 0;
  margin: 1.40625vw 0 0.46875vw 0;
}

@media screen and (max-width: 1280px) {
  .header__lang-links {
    margin: 18px 0 6px 0;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 0 0 2.5vw 0;
    -webkit-column-gap: calc(100vw * (18 / 320));
       -moz-column-gap: calc(100vw * (18 / 320));
            column-gap: calc(100vw * (18 / 320));
  }
} 