.header__lang-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(100vw * (18 / 1280));
  align-items: flex-end;

  list-style: none;
  line-height: 0;

  padding: 0;
  margin: 1.40625vw 0 0.46875vw 0;
}

@media screen and (max-width: 1280px) {
  .header__lang-links {
    margin: 18px 0 6px 0;
    column-gap: 18px;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 0 0 2.5vw 0;
    column-gap: calc(100vw * (18 / 320));
  }
} 