.place__paragraph-text {
  font-size: calc(100vw * (18 / 1280));
  line-height: calc(100vw * (29 / 1280));
  font-weight: normal;
  color: #ffffff;

  margin: 0;
}

.place__paragraph-text:nth-of-type(2) {
  margin: 2.03125vw 0 0 0;
}

@media screen and (max-width: 1280px) {
  .place__paragraph-text {
    font-size: 18px;
    line-height: 29px;
  }
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .place__paragraph-text {
    font-size: calc(100vw * (16 / 768));
    line-height: calc(100vw * (26 / 768));
  }

  .place__paragraph-text:nth-of-type(2) {
    margin: 3.255208333333333vw 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph-text {
    font-size: calc(100vw * (16 / 320));
    line-height: calc(100vw * (26 / 320));
  }

  .place__paragraph-text:nth-of-type(2) {
    margin: 7.8125vw 0 0 0;
  }
}